body {
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2015/02/20/06/19/stock-exchange-642896_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.transbox {
    margin: 10px 10px 10px 10px;
    background-color: #ffffff;
    border: 1px solid rgb(228, 134, 134);
    opacity: 0.5;
}

.transbox h1 {
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #06b331;
    text-align: center;
}

.searchoption {
    background-color: #dcb2b2;
    border: 1px solid black;
    margin: 5px;
    opacity: 0.6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchoption h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}

.searchBar {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.datalist {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
}

.output {
    margin-left: auto;
    margin-right: auto;
  }

table {
    border: 2px solid;
    border-collapse: collapse;
    width: 70%;
    justify-content: center;
  }

th {
    text-align: left;
    padding-left: 120px;
    height: 30px;
    font-size: 1.5vw;
    background-color: #04AA6D;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}
